
div.title{
    font-weight:bold;
    font-size:1.2rem;
    line-height: 1.5rem;
}

#tipText{
	font-size:12px;
}

#platformNav ul li{
	height:2rem;
}

.jumpbtn{
  background-color: #f04848;
    border: none;
    border-radius: 5rem;
    color: white;
    margin-left: 2px;
    vertical-align: middle;
    font-size:12px;
    font-weight:bold;
    z-index: 999;
}
