#body{
	width:100%;
	margin:0 auto;
	display:flex;
	justify-content:flex-start;
}

#allmap {width: 100%;height: 200px;overflow: hidden;margin:0;font-family:"微软雅黑";border:1px solid silver;}

a{
    color:black;
    text-decoration: none;
}
#main{
	width:55%;
}

#meta{
	margin-left:10px;
	width:45%;
}

#tagging{
	padding:5px;
	margin:5px;
	width:100%;
}

#qrcodeImgDiv{
	visibility:hidden;
	float:left;
	overflow: hidden;
	border:1px solid silver;
}

/*注意：对于每一个不同的source需要定义裁剪规则：琥珀亲子*/
.qrcode-hupoqinzi-div{
	width:400px;
	height:400px;
}

.qrcode-hupoqinzi{
	display: block; 
	min-width: 0px !important; 
	min-height: 0px !important; 
	max-width: none !important; 
	max-height: none !important; 
	transform-origin: 0 0;
	transform: scale(0.8) translate(-1455px, -2230px);	
	
}

/*注意：对于每一个不同的source需要定义裁剪规则：旅划算*/
.qrcode-lvhuasuan-div{
	width:126px;
	height:126px;
}

.qrcode-lvhuasuan{
	display: block; 
	min-width: 0px !important; 
	min-height: 0px !important; 
	max-width: none !important; 
	max-height: none !important; 
	transform: scale(1) translate(-10px, -1335px);	
}

/*注意：对于每一个不同的source需要定义裁剪规则：连连周边游*/
.qrcode-lianlianly-div{
	width:126px;
	height:126px;
}

.qrcode-lianlianly{
	display: block; 
	min-width: 0px !important; 
	min-height: 0px !important; 
	max-width: none !important; 
	max-height: none !important; 
	transform: scale(1) translate(-10px, -1196px);	
}

.tagging label{
	margin:5px 10px;
}

.tagging input{
	padding:5px;
	margin:5px;	
	width:100%;
	line-height: 24px;
	border:1px solid silver;
}

.index-btn{
	background-color: green;
	width:60%;
    border: none;
    border-radius: 2rem;
    color: white;
    margin: 5px;
    padding:0 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2rem;
}

.cancel-btn{
	background-color: orange;
	width:30%;
    border: none;
    border-radius: 2rem;
    color: white;
    margin: 5px;
    padding:0 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2rem;
}

#score{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:nowrap;
	text-align: right;
	margin:10px 5px;	
}
#score .comment{
	width:30%;
}
#score .price{
	width:40%;
	border-left:1px solid silver;
	border-right:1px solid silver;
	padding:0 5px;
	margin:0 5px;
}
#score .score{
	width:30%;
}
.distributor{border:1px solid silver;border-radius:1.2rem;padding:0 0.8rem;font-size:1.2rem;}

.label{font-size:1rem;}
.rank{font-size: 2rem;color:green;}
.rank .base{font-size: 1.6rem;color:gray;}
.rank .empty{font-size: 1rem;color:gray;}
.price-bid{font-size: 1.6rem;padding-right: 0;margin-right: 0;text-decoration: line-through;color:gray;font-weight:normal;}
.price-sale{font-size: 2rem;color:red;text-align: right;font-weight: bold;}
.match{font-size: 2rem;font-weight: bold;color:darkgreen;}

#shopping{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:nowrap;
}

#shopping .summary{
	width:70%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
}
#shopping .summary>img{
	height:24px;
	margin:2px;
	border-radius: 5px;
}

.link{
	width:100%;
	text-align: right;
}

.buy-btn{
	background-color: #f04848;
	width:100%;
    border: none;
    border-radius: 2rem;
    color: white;
    margin: 5px;
    padding:0 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    line-height: 4rem;
}

#shopping .link{
	width:30%;
}
#tags{
	display:flex;
	justify-content:flex-start;
	align-content:flex-start;
	flex-wrap: wrap;
	padding:2px 0;
	margin-left:5px;
}
#tags>div{
	font-size: 1.2rem;
	padding:5px;
	margin:2.5px;
	font-weight: bold;
	border:1px solid silver;
	border-radius: 1rem;
	background-color: #fff;
}

#content div{
	line-height: 1.5;
	font-size: 1.2rem;
}

#content>img{
	width:100%;
}

.title{
	font-weight: bold;
	font-size:1.4rem;
	line-height: 2rem;
	padding:5px;
}

.person{
	width:100%;
	height:40px;
	margin:5px;
	padding-bottom:5px;
	display:flex;
	justify-content:flex-start;
	align-content:center;
	flex-wrap: nowrap;
	border-bottom: 1px solid silver;
}

.person .logo{
	width:20%;
	line-height:40px;
}
.person .logo img{
	width:40px;
	height:40px;
	border-radius: 20px;
}

.person .name{
	width:55%;
	line-height:40px;
}

.person .connection{
	width:20%;
	line-height:40px;
}

.btn{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.taggingBtn{
	background-color: dodgerblue; /* dodgerblue */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight:bold;
    margin:2px 5px;
}

.sxSelect{
    line-height: 20px;
    border-color: silver;
    font-size: 12px;
    min-width: 200px;
}

blockquote{
	border-left: 5px solid #bbb;
    margin-left: 25px;
    padding-left: 10px;
    quotes: "\201C""\201D""\2018""\2019";
    margin-bottom: 10px;
}

blockquote.big-quote{
    font-family: Georgia, serif;
    position: relative;
    background: #f5f5f5;
    border-left: none;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 8px;
}
blockquote.big-quote:before{
	font-family: Georgia, serif;
    color: #bbb;
    content: open-quote;
    font-size: 8em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    position: absolute;
    left: -50px;
    top: 42px;
}
blockquote.big-quote:after{
font-family: Georgia, serif;
    color: #bbb;
    content: close-quote;
    font-size: 8em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    position: absolute;
    right: -80px;
    bottom: -20px;	
}

/*避免png图片缩放后模糊*/
img {
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;
	image-rendering:-webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode:nearest-neighbor;
}
