.searchForm{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:nowrap;
  margin:10px 5px;  
}
.searchForm .sxlabel{
  width:15%;
  text-align: center;
  vertical-align: middle;
  margin:auto;
}
.searchForm .sxform{
  width:80%;
  border-left:1px solid silver;
  padding:0 5px;
  margin:0 5px;
}

input{border:1px solid silver;}

.sxBox{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:nowrap;
  margin:10px 5px;  
}

.sxBox .sxSection{
  width:15%;
  vertical-align: bottom;
}

.sxlabel{
  font-weight:normal;
  font-size:14px;
}

label{
  font-weight:normal;
  font-size:12px;
}

.sxform{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:wrap;
  margin:10px 5px;  
}

.checkbox{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  vertical-align: middle;
  flex-wrap:nowrap;
  margin:2px 5px; 
}

.checkbox>label{
  margin-top:1px;
  margin-left:3px;
  font-size:12px;
  font-weight:normal;
}

.searchBtn{
  margin:0 auto;
  width:60px;
  border-radius: 5px;
  border-color:darkgreen;
  color:darkgreen;
  font-size:12px;
  font-weight:bold;
}

.sxRow{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:nowrap;
  margin:10px 5px;  
}

.sxColumn{
  font-size:14px;
  font-weight:normal;
  word-wrap:break-word; 
  word-break:break-all;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}

.sxColumn-grey{
  background-color: silver;
  color:#fff;
  line-height: 20px;
}







